<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="admin">
	<select id="admlogin" resultType="com.carrent.vo.CustVo" parameterType="String">
		SELECT CUST_ID, CUST_PWD, CUST_NAME, CUST_GENDER ,
               CUST_BIRTHDAY, CUST_PHONE , ZIP_CODE,
               BAS_ADDR, EXT_ADDR, CUST_EMAIL, LICENSE_TYPE,
               LICENSE_FDATE, LICENSE_TDATE, REG_DATE, MOD_DATE 
        FROM   T_CUST
        WHERE  CUST_ID = #{CUST_ID} AND CUST_PWD = #{CUST_PWD}
	</select>
</mapper>







	